/* Estilo para el contenedor principal */
.container-eventos {
    margin-top: 40px;
}

/* Estilo para los cuadrados de la tabla */
.table th, .table td {
    text-align: center;
    vertical-align: middle;
}

/* Estilo para la foto del evento */
.table .evento-foto {
    max-width: 25rem;
    max-height: 25rem;
    object-fit: cover;
}

/* Estilo para los botones de acciones */
.table .acciones-btns {
    display: flex;
    justify-content: space-around;
}
